<div *ngFor="let categoria of filmesPorCategoria | keyvalue">
  <h2>{{ categoria.key }}</h2>
  <div class="clr-row">
    <div class="clr-col-lg-3 clr-col-12" *ngFor="let filme of categoria.value | slice:0:filmeLimites[categoria.key]" (click)="openModal(filme)">
      <a href="javascript://" class="card clickable">
        <div class="card-img">
          <img
            [src]="filme.imagem"
            alt="{{ filme.nome }}"
          />
        </div>
      </a>
      <h4>{{ filme.nome }}</h4>
    </div>
  </div>
  <button class="btn btn-sm" id="btn-ver-mais" (click)="verMais(categoria.key)" *ngIf="categoria.value.length > filmeLimites[categoria.key]">Ver mais</button>
</div>

<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">{{ selectedFilme?.nome }}</h3>
  <div class="modal-body">
    <p><strong>Duração:</strong> {{ selectedFilme?.duracao }}</p>
    <p><strong>Ano de Lançamento:</strong> {{ selectedFilme?.anoDeLancamento | date }}</p>
    <p><strong>Nota dos Críticos:</strong> {{ selectedFilme?.avaliacaoDosCriticos }}</p>
    <p><strong>Avaliação dos Usuários:</strong> {{ selectedFilme?.avaliacaoDosUsuarios }}%</p>

    <div class="modal-icons">
      <i class="fas fa-heart"></i>
      <i class="fas fa-heart-broken"></i>
      <i class="fas fa-star"></i>
    </div>

    <br>
    <button class="btn btn-sm" (click)="goToDetails(selectedFilme?.nome)">SAIBA MAIS</button>
  </div>
</clr-modal>
