<footer class="footer">
  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12">
      <h3>Você tem alguma sugestão?</h3>
      <button class="btn btn-sm">Mande-nos</button>
    </div>
    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12">
      <h3>Nossas redes</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
