<form clrForm [formGroup]="filmeForm" class="form-centered">
  <clr-input-container>
    <label>Nome</label>
    <input clrInput type="text" formControlName="nome" placeholder="Informe o nome do filme" />
  </clr-input-container>

  <clr-input-container>
    <label>Diretor</label>
    <input clrInput type="text" formControlName="diretor" placeholder="Nome do diretor" />
  </clr-input-container>

  <clr-input-container>
    <label>Lançamento</label>
    <input clrInput type="date" formControlName="anoDeLancamento"/>
  </clr-input-container>

  <clr-input-container>
    <label>Duração</label>
    <input clrInput type="text" formControlName="duracao" placeholder="0" />
  </clr-input-container>

  <clr-textarea-container>
    <label>Sinopse</label>
    <textarea clrTextarea formControlName="sinopse" placeholder="Digite um breve resumo sobre o filme"></textarea>
  </clr-textarea-container>

  <clr-textarea-container>
    <label>Elenco</label>
    <textarea clrTextarea formControlName="elenco" placeholder="Informe os principais atores"></textarea>
  </clr-textarea-container>

  <clr-input-container>
    <label>Categoria</label>
    <input clrInput type="text" formControlName="categoria" placeholder="Informe a categoria do filme" />
  </clr-input-container>


  <clr-input-container>
    <label>Imagem</label>
    <input clrInput type="text" formControlName="imagem" placeholder="URL da imagem do filme" />
  </clr-input-container>

  <clr-select-container>
    <label>Disponivel</label>
    <select clrSelect formControlName="tag">
      <option value="0">Streaming</option>
      <option value="1">Cartaz</option>
    </select>
  </clr-select-container>
</form>
