<form clrForm>
  <div class="clr-row">
    <div class="clr-col-2">
      <clr-input-container>
        <label>Filme</label>
        <input clrInput type="text" name="filme" placeholder="Nome" />
      </clr-input-container>
    </div>
    <div class="clr-col-2">
      <clr-input-container>
        <label>Sala</label>
        <input clrInput type="text" name="sala" placeholder="Sala1" />
      </clr-input-container>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-2">
      <clr-input-container>
        <label>Data</label>
        <input clrInput type="date" name="data" placeholder="10/04/2025" />
      </clr-input-container>
    </div>
    <div class="clr-col-2">
      <clr-input-container>
        <label>Horário</label>
        <input clrInput type="time" name="horario" placeholder="21:00" />
      </clr-input-container>
    </div>
  </div>

  <br>
  <button clrButton type="submit" class="btn btn-primary">Salvar</button>
  <button clrButton type="button" class="btn btn-outline">Cancelar</button>
</form>
