<header class="header header-6">
  <div class="branding">
    <a href="javascript:void(0)">
      <cds-icon shape="vm-bug"></cds-icon>
      <span routerLink="" class="title">CinePlayers</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/filme" class="nav-link nav-icon">
      Filmes
    </a>
    <a href="javascript://" class="active nav-link nav-icon">
      Sugestões
    </a>
    <a href="javascript://" class="active nav-link nav-icon">
      Em Cartaz
    </a>
  </div>
  <form class="search">
    <label for="search-input-sidenav-ng">
      <input id="search-input-sidenav-ng" type="text" placeholder="Search for keywords..." />
    </label>
  </form>
  <div class="settings custom-dropdown-margin">
    <clr-dropdown [clrCloseMenuOnItemClick]="false">
      <button clrDropdownTrigger aria-label="Dropdown demo button">
        USER
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <label class="dropdown-header" aria-hidden="true">Filmes</label>
        <div clrDropdownItem>Curtidos</div>
        <div clrDropdownItem>Desaprovados</div>
        <div clrDropdownItem>Salvos</div>
        <div clrDropdownItem>Avaliados</div>
        <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
        <label class="dropdown-header" aria-hidden="true">Administração</label>
        <div clrDropdownItem>Gerenciar Filmes</div>
        <div clrDropdownItem>Gerenciar Salas</div>
        <div clrDropdownItem>Gerenciar Sessão</div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
